fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
towhee
towhee.models
ffmpeg-python
milvus
pymilvus
opencv-python-headless
ultralytics
torch
torchvision
shapely
passlib[bcrypt]
python-jose[cryptography]
python-multipart
